/* COMMON STYLES */
body {
  font-family: Roboto, sans-serif;
}
h2 {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--navyblue, #2e2f42);
}
p {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.hero,
.footer {
  background: var(--navyblue, #2e2f42);
}
.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

/* LOGO START */
.logo {
  color: #4d5ae5;
  font-family: Raleway;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
}
.studio-dark {
  color: #2e2f42;
}
.studio-light {
  color: #f4f4fd;
}
/* LOGO FINISH */
/* HEDER BLOK */
.header-link {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.header-link:hover,
.contact-mailto:hover {
  color: var(--ocean, #404bbf);
}
.header-contact-link {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
}

/* HERO SECTION */
.hero-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.1;
}
.hero-btn {
  color: var(--white, #fff);
  background-color: var(--iris, #4d5ae5);
}
.hero-dtn:hover {
  background: var(--ocean, #404bbf);
}
/* DESCRIPTION SECTION */
.description-menu {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
}

/* AVATAR SECTION */
.avatar-title {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
}
.avatar-avatar {
  text-align: center;
}
.avatar-descriptions {
  text-align: center;
}
/* SECTION PORTFPLIO */
.portfolio-btn-white {
  color: var(--white, #fff);
  background: var(--ocean, #404bbf);
}
.portfolio-btn-blue {
  color: var(--iris, #4d5ae5);
  background: var(--cloud, #f4f4fd);
}
/* FOOTER SEKTION */
.footer-descriptions {
  font-size: 16px;
  line-height: 1.5;
  color: var(--cloud, #f4f4fd);
}
