/* COMMON STYLES */
body {
  font-fameli: Roboto, Raleway;
}
ul {
  list-style: none;
}
/* HEDER BLOK */
.header {
}
.header-nav {
}
.header-logo {
  color: var(--navyblue, #2e2f42);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.heder-logo-color {
  color: var(--iris, #4d5ae5);
}
.header-item {
}
.header-link {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.header-contact {
}
.header-contact-list {
}
.header-contact-item > {
}
.header-contact-item {
}
.header-contact-link {
}

/* HERO SECTION */
.hero {
}
.hero-title {
}
.hero-btn {
}

/* ABOUT SECTION */
.about {
}
.about-list {
}
.about-item {
}
.about-menu {
}
.about-descriptions {
}

/* DESCRIPTION SECTION */
.description {
}
.description-menu {
}
.description-list {
}
.description-item {
}
.description-img {
}

/* PORTFOLIO SECTION */
.description {
}
.description-menu {
}
.description-list {
}
.description-item {
}
.description-img {
}

/* FOOTER SEKTION */
.footer {
}
.footer-logo {
}
.footer-descriptions {
}
