/* COMMON STYLES */
body {
  font-family: Roboto, sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* LOGO START */
.logo {
  color: #4d5ae5;
  font-family: Raleway;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.studio-dark {
  color: #2E2F42;
}
.studio-light {
  color: #F4F4FD;
}
/* LOGO FINISH */
/* HEDER BLOK */
.header-link {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.header-contact-link {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  font-style: normal;
  
}

/* HERO SECTION */
.hero-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}
.hero-btn {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  background-color: var(--iris, #4d5ae5);
}

/* ABOUT SECTION */
.about-menu {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.about-descriptions {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* DESCRIPTION SECTION */
.description-menu {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;

/* AVATAR SECTION */
.avatar-title {
color: var(--navyblue, #2E2F42);
font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
}
.avatar-avatar {
color: var(--navyblue, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}
.avatar-description {
color: var(--slate, #434455);
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

/* FOOTER SEKTION */
.footer-descriptions {
color: #F4F4FD;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.32px;
}
